{% extends 'Base/nav_team_invite.html' %}
{% block title %}Project360{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <p class="lead mb-4">
                Thank you for proceeding with the survey. Please note that the survey will take approximately 15 minutes of undiverted attention. Ensure you have a strong internet connection, as there is no option to save progress midway. If the connection is lost, you will need to start over.
            </p>
            <p class="lead mb-4">
                Each question offers five options; please select the one that resonates most with you without overthinking. Your immediate reflection is most valuable.
            </p>
            <div class="text-center">
                <form action="{% url 'displayquestions' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="strparticipantid" name="strnameparticipantid" value="{{ encoded_pid }}">
                    <input type="hidden" id="intsurveyid" name="intnamesurveyid" value="{{ surveyid }}">
                    <input type="hidden" id="intcompanyid" name="intnamecompanyid" value="{{ companyid }}">
                    
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-lg" style="background-color: #00008B; border-color: #00008B;">Continue</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
