{% extends 'Base/surveybase.html' %}

{% load static %}

{% block title %}Project360{% endblock %}

{% block content %}
<div class="container mt-5">
    <form id="surveyForm" method="post" action="{% url 'submitsurvey' %}">
        {% csrf_token %}
        <input type="hidden" name="hiddenstrpid" value="{{ enocded_pid }}">
        <input type="hidden" name="hiddenintsurveyid" value="{{ surveyid }}">
        <input type="hidden" name="milestone_message_index" value="{{ milestone_message_index }}">
                
        <table class="table table-borderless table-hover">
            <tbody>
                {% for obj in preview_survey_data %}
                <tr>
                    <td>{{ obj.question }}</td>
                    <td>{{ obj.answer }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
       
        <div class="text-end mt-5">
            <button type="submit" class="btn btn-success btn-lg" name="action" value="submit" onclick="showLoader()">Submit</button>
        </div>

        <!-- Loader HTML -->
    <div id="loader" class="loader-overlay">
        <div class="loader"></div>
    </div>
    </form>
</div>
{% endblock %}

{% block extra_styles %}
/* Loader styles */
    .loader-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        display: none; /* Hidden by default */
        justify-content: center;
        align-items: center;
        z-index: 9999; /* Ensure loader is above other content */
    }

    .loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

{% endblock %}


{% block extra_scripts %}
<script>
    function showLoader() {
        document.getElementById('loader').style.display = 'flex';
    }
    
</script>
{% endblock %}