{% extends 'Base/surveybase.html' %}

{% load static %}

{% block title %}Project360{% endblock %}

{% block content %}
<div class="container mt-5">
    <form id="surveyForm" method="post" action="{% url 'submitsurvey' %}">
        {% csrf_token %}
        <input type="hidden" name="hiddenstrpid" value="{{ enocded_pid }}">
        <input type="hidden" name="hiddenintsurveyid" value="{{ surveyid }}">
        <input type="hidden" name="milestone_message_index" value="{{ milestone_message_index }}">
                
        <table class="table table-borderless table-hover">
            <tbody>
                {% for obj in preview_survey_data %}
                <tr>
                    <td>{{ obj.question }}</td>
                    <td>{{ obj.answer }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
       
        <div class="text-end mt-5">
            <button type="submit" class="btn btn-success btn-lg" name="action" value="submit">Submit</button>
        </div>
    </form>
</div>
{% endblock %}
