{% extends 'Base/messagebase.html' %}

{% block title %}Project360{% endblock %}

{% block content %}
<div class="col-md-10 content">
    <h2>Thank you for your trust in DataMingle 360 Leadership Assessment.</h2>
    <p>Email communication has gone to all the participants</p>
    <p>We will keep you posted upon completion of survey by all the participants</p>

    <div class="btn-center">
        <button type="button" class="btn btn-custom btn-lg continue-btn" onclick="redirectToHomePage()">Back To HomePage</button>
    </div>
{% endblock %}
