{% extends 'Base/messagebase.html' %}

{% block title %}Project360{% endblock %}

{% block content %}
<div class="container">
<div class="col-md-30 content"> <!-- Content Container -->
    <div class="content-inner text-center"> <!-- Inner Content Wrapper for vertical alignment -->
        <h2>Thank you for your trust in DataMingle 360 Leadership Assessment.</h2>
        <p>Email communication has gone to all the Participants</p>
        <p>We will keep you posted upon completion of survey by all the Participants</p>

        <div class="btn-center mt-4">
            <button type="button" class="btn btn-custom btn-lg continue-btn" onclick="redirectToHomePage()">Back To HomePage</button>
        </div>
    </div>
</div>
</div>
<script>
    function redirectToHomePage() {
        window.location.href = "{% url 'index' %}";
    }
</script>
{% endblock %}

{% block extra_styles %}
<style>
    .content {
        display: flex;
        justify-content: center;
        align-items: flex-start; /* Align items towards the top */
        height: 100vh; /* Full height of the viewport */
        padding-top: 50px; /* Adjust this value to shift the content further up or down */
    }

    .content-inner {
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
        gap: 20px; /* Space between items */
    }

    .continue-btn {
        background-color: #2a2a3e; /* Button background color */
        border: none; /* Removes the default border */
        color: #fff; /* Text color for better contrast */
    }

    .continue-btn:hover {
        background-color: #1a1a2e; /* Slightly darker shade on hover */
    }
</style>
{% endblock %}
