{% extends 'Base/messagebase.html' %}

{% block title %}Project360{% endblock %}

{% block content %}
    <div class="message-box">
        <p class="fs-4 mb-4">
            Thank you for choosing the 360 Leadership Assessment for your team. This survey will provide invaluable insights to foster holistic leadership development and drive your team's success.
        </p>
        <a href="{% url 'participantinvite' %}" class="btn btn-custom btn-lg">Press Enter to Continue</a>
    </div>
{% endblock %}

<!-- Add script to show loader on a specific action if needed -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Example: Show loader on page load for testing
        showLoader();

        // Hide the loader after 3 seconds for testing
        setTimeout(hideLoader, 3000);
    });
</script>
