{% extends 'Base/homebase.html' %}

{% block title %}Data Mingle Login{% endblock %}

{% block content %}
    <form id="login-form" method="post" action="{% url 'auth' %}" onsubmit="return validateForm()">
        {% csrf_token %}
        <input type="hidden" id="strparticipantid" name="strnameparticipantid" value="{{ pid_encoded }}">
        <input type="hidden" id="intsurveyid" name="intnamesurveyid" value="{{ survey_id }}">
        <input type="hidden" id="intcompanyid" name="intnamecompanyid" value="{{ companyid }}">

        <div class="login-container">
            <h2 class="mb-4">LOGIN:</h2>
            <input type="text" id="username" name="username" class="form-control mb-3" placeholder="Username" value="{{ form.username.value|default_if_none:'' }}" required>
            <h2 class="mb-4">PASSWORD:</h2>
            <input type="password" id="password" name="password" class="form-control mb-3" placeholder="Password" value="{{ form.password.value|default_if_none:'' }}" required>
            {% if error_message %}
            <div id="alert" class="alert alert-danger" role="alert">
                <span id="alert-message">{{ error_message }}</span>
            </div>
            {% endif %}

            <button type="submit" class="btn btn-dark mb-3">LOGIN</button>
        </div>
    </form>
{% endblock %}
 