{% extends 'Base/nav_team_invite.html' %}
{% block title %}Project360{% endblock %}

{% block content %}
<div class="content-wrapper">
    <div class="content">
        <div class="content-inner">
            <h2 class="congrats-text">Congratulations on completing the 360 Leadership Assessment. Your feedback is essential for fostering leadership growth and development.</h2>
            <h2 class="thank-you-text">Thank you for your time and thoughtful response.</h2>
            <div class="btn-center">
                <button type="button" class="btn btn-custom btn-lg continue-btn" onclick="redirectToHomePage()">Back To HomePage</button>
            </div>
        </div>
    </div>
</div>

<script>
    function redirectToHomePage() {
        // Replace this URL with the URL you want to redirect to
        window.location.href = "{% url 'index' %}";
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<style>
    .content-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Adjust the height as needed */
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .content-inner {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .congrats-text,
    .thank-you-text {
        font-size: 1.5rem;
    }

    .btn-center {
        margin-top: 20px;
    }
    .continue-btn {
        background-color: #2a2a3e; /* Button background color */
        border: none; /* Removes the default border */
        color: #fff; /* Text color for better contrast */
    }

    .continue-btn:hover {
        background-color: #2a2a3e; /* Slightly darker shade on hover */
    }
</style>

{% endblock %}
