{% extends 'Base/nav_team_invite.html' %}

{% block title %}Project360{% endblock %}
{% block content %}
<div class="content-wrapper">
    <div class="content">
        <div class="content-inner">
            <h2 class="congrats-text">Congratulations on completing the 360 Leadership Assessment. Your feedback is essential for fostering leadership growth and development.</h2>
            <h2 class="thank-you-text">Thank you for your time and thoughtful response.</h2>
            <div class="btn-center">
                <button type="button" class="btn btn-custom btn-lg continue-btn" onclick="redirectToHomePage()">Back To HomePage</button>
            </div>
        </div>
    </div>
</div>

<script>
    function redirectToHomePage() {
        window.location.href = "{% url 'index' %}";
    }
</script>
{% endblock %}

{% block extra_styles %}
<style>
    .content-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin-top: -50px; /* Adjust this value to move content up or down */
    }
    
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .content-inner {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .congrats-text,
    .thank-you-text {
        font-size: 1.5rem;
        margin-top: 0; /* Remove top margin from text if added */
    }
    
    .congrats-text {
        margin-top: -20px; /* Adjust this value to decrease the space from the top */
    }
    
    .thank-you-text {
        margin-top: 0; /* Add margin if needed */
    }
    
    .continue-btn {
        background-color: #2a2a3e; /* Button background color */
        border: none; /* Removes the default border */
        color: #fff; /* Text color for better contrast */
    }
    
    .continue-btn:hover {
        background-color: #1a1a2e;
        color: #fff; /* Slightly darker shade on hover */
    }
    
</style>
{% endblock %}
