{% load static %}

<div class="row mb-3">
    <div class="col">
        <input type="text" class="form-control" id="txtname_{{ index }}" name="txtnamename" placeholder="Name" >
    </div>
    <div class="col">
        <input type="email" class="form-control" id="txtEmail_{{ index }}" name="txtnameEmail" placeholder="Email" >
        <div class="invalid-feedback" id="emailError_{{ index }}">Invalid email format</div>
        <div class="invalid-feedback" id="emailDuplicateError_{{ index }}">Email already entered above</div>
    </div>
    <div class="col">
        <input type="tel" class="form-control" id="contact_{{ index }}" name="txtnamecontact" placeholder="Contact" >
    </div>
    <div class="col">
        <input type="text" class="form-control" id="location_{{ index }}" name="txtnamelocation" placeholder="Location" >
    </div>
    <div class="col">
        <select id="intnameteamtype{{ index }}" name="intnameteamtype" class="form-control" >
            <option value="" disabled selected>Select Team Type</option>
            {% for id, label in teamtype.items %}
                <option value="{{ id }}" data-name="{{ label }}">{{ label }}</option>
            {% endfor %}
        </select>
        <input type="hidden" name="teamtype_name[]" id="teamtype_name{{ index }}">
    </div>
    <div class="col">
        <input type="hidden" id="country_name_{{ index }}" name="country_name[]" value="">
        <select id="intcountry_{{ index }}" name="intnamecountry" class="form-control" >
            <option value="" disabled selected>Select a Country</option>
            {% for country in countries %}
                <option value="{{ country.id }}" data-name="{{ country.countryname }}">{{ country.countryname }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col">
        <input type="hidden" id="state_name_{{ index }}" name="state_name[]" value="">
        <select id="intstate_{{ index }}" name="intnamestate" class="form-control" >
            <option value="" disabled selected>Select a State</option>
            {% for state in states %}
                <option value="{{ state.id }}" data-name="{{ state.statename }}">{{ state.statename }}</option>
            {% endfor %}
        </select>
    </div>
</div>
