{% extends 'Base/messagebase.html' %}

{% block title %}Project360{% endblock %}

{% block content %}
<div class="content">
    <div class="message-box">
        <p class="fs-5 mb-4">
            To ensure a comprehensive 360 Leadership Assessment, please provide the names of at least one direct reporting manager, two peers, and two subordinates. Their feedback, combined with your self-assessment, will offer valuable insights into your leadership style and help identify areas for improvement, enhancing your leadership journey.
        </p>
        <a href="{% url 'teaminvite' %}?encoded_pid={{ encoded_pid }}" class="btn btn-custom">Next</a>
    </div>
</div>
{% endblock %}

{% block extra_styles %}
<style>
    .btn-custom {
        background-color: #1a1a2e;
        color: white;
        border-radius: 5px;
        padding: 10px 30px;
        font-size: 1.2rem;
    }
</style>
{% endblock %}
