{% extends 'Base/messagebase.html' %}

{% block title %}Project360{% endblock %}

{% block content %}
<div class="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 p-0">
                <div class="text-center p-0">
                    <p class="lead mb-4 text-justify">
                        Thank you for proceeding with the survey. Please note that the survey will take approximately 15 minutes of undiverted attention. 
                        Ensure you have a strong internet connection, as there is no option to save progress midway. If the connection is lost, you will need to start over.
                    </p>
                    <p class="lead mb-4 text-justify">
                        Each question offers five options; please select the one that resonates most with you without overthinking. Your immediate reflection is most valuable.
                    </p>
                    <form action="{% url 'teamdisplayquestions' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="hiddenstrpid" value="{{ participantid }}">
                        <input type="hidden" name="hiddenintsurveyid" value="{{ surveyid }}">
                        <input type="hidden" name="hiddentintteammemberid" value="{{ teammemberid }}">
                        <button type="submit" class="btn btn-custom">Continue</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_styles %}
<style>
    .container {
        padding-left: 0; /* Remove left padding */
        padding-right: 0; /* Remove right padding */
    }
    .col-md-8 {
        padding-left: 0; /* Remove left padding */
        padding-right: 0; /* Remove right padding */
    }
    .lead {
        font-weight: bold;
        color: #000;
        text-align: justify; /* Align text for better readability */
        margin-left: 0; /* Remove left margin */
        margin-right: 0; /* Remove right margin */
    }
    .btn-custom {
        background-color: #00008B; /* Button background color */
        color: #ffffff; /* Text color */
        border: none; /* Remove default border */
    }
    .btn-custom:hover {
        background-color: #00007D; /* Darker color on hover */
        color: #ffffff; /* Keep text color white on hover */
    }
</style>
{% endblock %}
