{% extends 'Base/surveybase.html' %}

{% block title %}Project360{% endblock %}

{% block content %}
    <div class="container mt-5">
        <form id="surveyForm" method="post" action="{% url 'teamsaveandfetchnextquestions' %}">
            {% csrf_token %}
            <input type="hidden" name="hiddenpage_number" value="{{ page_number }}"> 
            <input type="hidden" name="hiddenstrpid" value="{{ participantid }}">
            <input type="hidden" name="hiddenintsurveyid" value="{{ surveyid }}">
            <input type="hidden" name="milestone_message_index" value="{{ milestone_message_index }}">
            <input type="hidden" name="hiddentintteammemberid" value="{{ teammemberid }}">
            
            <table class="table table-borderless table-hover align-middle">
                <thead> 
                    <tr>
                        <th scope="col" class="w-50">Question</th>
                        <th scope="col" class="text-center th-spacing">Strongly<br>Agree</th>
                        <th scope="col" class="text-center th-spacing">Agree</th>
                        <th scope="col" class="text-center th-spacing">Neutral</th>
                        <th scope="col" class="text-center th-spacing">Disagree</th>
                        <th scope="col" class="text-center th-spacing">Strongly<br>Disagree</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for obj in question %}
                    <tr>
                        <td>{{ obj.question }}</td>
                        <input type="hidden" name="hiddenquestionid_{{ obj.questionid }}" value="{{ obj.questionid }}">
                        <input type="hidden" name="hiddenpresequenceid_{{ obj.questionid }}" value="{{ obj.presequence_survey_id }}">
                        
                        {% for ansobj in obj.answer %}
                        <td class="text-center">
                            <input type="radio" value="{{ ansobj.answerid }}" name="rdioAnswer_{{ obj.questionid }}" {% if obj.answerid == ansobj.answerid %}checked{% endif %}>
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="text-end mt-5">
                {% if show_submit_button %}
                <button type="submit" class="btn btn-success" name="action" value="submit">Submit</button>
                {% else %}
                <button type="submit" class="btn btn-primary" name="action" value="next">Next</button>
                {% endif %}
            </div>
        </form>
    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const form = document.getElementById('surveyForm');
            form.addEventListener('submit', function(event) {
                const questions = form.querySelectorAll('input[name^="rdioAnswer_"]');
                const allQuestionIds = new Set();

                questions.forEach(radio => {
                    const questionId = radio.name.split('_')[1];
                    allQuestionIds.add(questionId);
                });

                let isValid = true;
                allQuestionIds.forEach(id => {
                    if (form.querySelector(`input[name="rdioAnswer_${id}"]:checked`) === null) {
                        isValid = false;
                    }
                });

                if (!isValid) {
                    alert('Please answer all questions before submitting.');
                    event.preventDefault(); // Prevent form submission
                }
            });
        });
    </script>
{% endblock %}
